@charset "utf-8";
* {
    margin: 0;
    padding: 0;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
}

html {
    -webkit-text-size-adjust: none;
}

body {
    -webkit-user-select: none;
    font-family: "\5FAE\8F6F\96C5\9ED1", Helvetica, sans-serif;
}

header, footer, nav, section, aside, figure, figcaption, article, audio, video {
    display: block;
}

input {
    outline: none;
}

ul, li {
    list-style: none;
}

a, a:hover, a:active, a:visited, a:target {
    text-decoration: none;
}

img {
    display: block;
    border: none;
}

.clear:after {
    display: block;
    height: 0;
    content: "";
    clear: both;
}

html, body {
    width: 100%;
    background: #ebf0f5;
    overflow-x: hidden;
}

html {
    /*--1REM=100PX--*/
    font-size: 100px;
}

/*--header start--*/
.header {
    height: .44rem;
    line-height: .44rem;
    color: #fff;
    background: #1c90f2;
    overflow: hidden;
}

.header > div {
    float: left;
    height: 100%;
}

.header a {
    display: block;
    height: 100%;
    font-size: .16rem;
    color: #fff;
}

.header .login, .header .menu {
    float: right;
}

.header .logo {
    padding-right: .1rem;
    width: 1.07rem;
    border-right: .01rem solid #066dc4;
    background: url("../img/icon-logo.png") no-repeat;
    background-size: .24rem;
    background-position: .1rem center;
}

.header .logo a {
    padding-left: .4rem;
}

.header .nba {
    padding: 0 .1rem;
    height: 100%;
}

.header .login {
    padding: 0 .15rem;
}

.header .menu {
    width: .44rem;
    height: 100%;
    background: url("../img/btn-nav.png") no-repeat center center;
    background-size: .24rem;
}

/*--nav start--*/
.nav {
    display: none;
    padding: .05rem 0;
    border-bottom: .01rem solid #ddd;
    background: #f7f7f7;
    overflow: hidden;
}

.nav ul {
    margin: 0 .1rem;
    padding: 0 2%;
}

.nav ul li {
    float: left;
    width: 16%;
    height: .37rem;
    line-height: .37rem;
    text-align: center;
    font-size: .16rem;
}

.nav ul li.btn {
    position: relative;
}

.nav ul li.btn span {
    position: absolute;
    right: -.05rem;
    width: 0;
    height: 0;
}

.nav ul li.btn span.up {
    top: .12rem;
    border: .05rem solid transparent;
    border-bottom-color: #000;
}

.nav ul li.btn span.down {
    top: .18rem;
    border: .05rem solid transparent;
    border-top-color: #000;
}

/*--video start--*/
.videoBox {
    height: 1.8rem;
    background: #000;
    overflow: hidden;
}

.videoBox video {
    width: 100%;
    height: 100%;
}

.video-js .vjs-big-play-button {
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -25px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

/*--match start--*/
.match {
    box-sizing: border-box; /*--CSS3新增加的盒子模型:我们盒子的宽度WIDTH值包含border、padding、内容宽度--*/
    padding: .15rem;
    background: #fff;
    overflow: hidden;
}

/*-TOP-*/
.match .top {
    height: .3rem;
    line-height: .3rem;
}

.match .top > div {
    float: left;
    width: 33%;
    height: 100%;
}

.match .top > div.time {
    width: 34%;
    font-size: .12rem;
    color: #999;
    text-align: center;
}

.match .top > div.away {
    float: right;
}

.match .top img {
    display: block;
    width: .32rem;
    height: .3rem;
}

.match .top span {
    display: block;
    height: 100%;
    font-size: .2rem;
    color: #333;
}

.match .top .home img, .match .top .home span {
    float: left;
}

.match .top .home span {
    padding-left: .12rem;
}

.match .top .away img, .match .top .away span {
    float: right;
}

.match .top .away span {
    padding-right: .12rem;
}

/*-MID-*/
.match .mid {
    margin: .1rem 0;
    height: .02rem;
    background: #1C90F2;
    overflow: hidden;
}

.match .mid span {
    display: block;
    width: 0%;
    height: 100%;
    background: #f82d2d;
}

/*-BOT-*/
.match .bot {
    height: .2rem;
    line-height: .2rem;
    text-align: center;
    overflow: hidden;
}

.match .bot > div {
    float: left;
    width: 33%;
    height: 100%;
    color: #bbb;
    font-size: .12rem;
}

.match .bot > div.type {
    width: 34%;
    color: #999;
}

.match .bot .home {
    background: url("../img/support-left.png") no-repeat left center;
    background-size: .12rem .12rem;
}

.match .bot .away {
    background: url("../img/support-right.png") no-repeat right center;
    background-size: .12rem .12rem;
}

.match .bot .home.bg {
    background-image: url("../img/support-red.png");
    color: #f82d2d;
}

.match .bot .away.bg {
    background-image: url("../img/support-blue.png");
    color: #1C90F2;
}

/*--player start--*/
.player {
    padding: .1rem .15rem;
    height: 1.11rem;
    background: #fff;
    overflow: hidden;
}

.player .wrapper {
    position: relative;
    height: 100%;
}

.player .wrapper ul {
    height: 100%;
}

.player .wrapper li {
    float: left;
    margin-left: .1rem;
    width: 1.1rem;
    height: 100%;
}

.player .wrapper li:nth-child(1) {
    margin-left: 0;
}

.player .wrapper li > div {
    position: relative;
    height: .62rem;
}

.player .wrapper li > div img {
    width: 100%;
    height: 100%;
}

.player .wrapper li > div span {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: .04rem;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: .12rem;
}

.player .wrapper li > p {
    margin-top: .04rem;
    line-height: .15rem;
    font-size: .12rem;
    color: #333;
}

.player .wrapper li.bg > p {
    color: #f82d2d;
}










